<%= @game.player_1.name %> vs <%= @game.player_2.name %>
<br><br>
<%= @game.player_1.name %>: <%= @game.player_1.hitpoints %>HP<br>
<%= @game.player_2.name %>: <%= @game.player_2.hitpoints %>HP<br>
<% if @game.last_action == :attack %>
  <%= @game.defender.name %> attacked <%= @game.attacker.name %>!
<% end %>
<%= @game.attacker.name %>'s turn
<br><br>
<form action="/attack" method="post">
<input type="submit" name="action" value="Attack!">
</form>